* {
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: #f7f7f5;
}

.all {
    width: 1200px;
    height: 100%;
    background-color: #f7f7f5;
    margin: 0 auto;
    padding-bottom: 40px;
}
.header{
    width: 100%;
    height: 44px;
    background: #2f2f2f;;
}
.header-box {
    width: 1200px;
    height: 44px;

    margin: 0 auto;
    position: relative;
    z-index: 2;
}

.header-box .left {
    position: absolute;
    left: 0;
    top: 12px;
    width: 74px;
    height: 20px;
    background: url("vivo.png") center left;

}

.header-box .center {
    width: 664px;
    height: 44px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.header-box .center a {
    width: 100%;
    display: block;
    line-height: 44px;
    font-weight: 400;
    font-size: 14px;
    color: #ffffff;
    text-decoration: none;
}

.header-box .right {
    width: 110px;
    height: 14px;
    position: absolute;
    right: 0;
    top: 12px;
    background: url("man.png") right no-repeat;
}

.header-box .right img {
    display: block;
    position: absolute;
    left: 0;
}

.logo-box {
    width: 100%;
    height: 95px;
    padding-top: 30px;
    background: url("logo.png") bottom center no-repeat;
}

.text-box {
    width: 100%;
    height: 68px;

    padding-top: 30px;
    padding-bottom: 17px;
    position: relative;
}

.text-box .center {
    width: 438px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.text-box .right {
    width: 164px;
    position: absolute;
    right: 0;
    top: 30px;
    display: flex;
    justify-content: space-between;
}

.text-box .center a {
    line-height: 21px;
    font-size: 12px;
    color: #6c7880;
    text-decoration: none;
}

.text-box .right a {
    line-height: 17px;
    font-size: 14px;
    color: #4c4c4c;
    text-decoration: none;
}

.img-box {
    width: 100%;
    height: 450px;
    background: url("back.jpg");
    background-size: cover;
    position: relative;
}

.img-box .white {
    width: 210px;
    height: 5px;
    position: absolute;
    bottom: 15px;
    left: 500px;
    display: flex;
    justify-content: space-between;
}

.pic-box {
    width: 100%;
    height: auto;
    margin: 10px auto 10px auto;
    display: flex;
    justify-content: space-between;
}

.pic-box .picture {
    width: 293px;
    height: 144px;

}

.pic-box .picture:nth-child(1) {
    background: url("one.png");
    background-size: cover;
}

.pic-box .picture:nth-child(2) {
    background: url("two.png");
    background-size: cover;
}

.pic-box .picture:nth-child(3) {
    background: url("three.png");
    background-size: cover;
}

.pic-box .picture:nth-child(4) {
    background: url("four.png");
    background-size: cover;
}

.big-text {
    width: 100%;
    height: 87px;
    padding-top: 38px;
    padding-bottom: 25px;
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    color: #333;
position: relative;
}

.phone-item {
    width: 394px;
    height: 511px;
    background-color: white;
    text-align: center;
    font-weight: 400;
}
.phone-item img{
    display: block;
    width: 230px;
    height: 230px;
    margin: 58px auto 0 auto;

}
.phone-item .text-big{
    width: 100%;
    height: 56px;
    padding-top: 28px;
    font-size: 20px;
}
.phone-item .text-small{
    width: 100%;
    line-height: 24px;
    padding-top: 11px;
    padding-bottom: 48px;
    font-size: 14px;
}

.phone-item .text-money{
    line-height: 30px;
    font-size: 18px;
    color:red;
}
.big-text .more{
    position: absolute;
    right: 0;
    top: 48px;
    font-size: 14px;
    color: #333333;
    margin-left: 22px;
}
.big-text .more:nth-child(2){
    position: absolute;
    right: 62px;
    top: 48px;
    margin-left: 22px;
}
.big-text .more:nth-child(3){
    position: absolute;
    right: 156px;
    top: 48px;
    margin-left: 22px;
}
.big-text .more:nth-child(4){
    position: absolute;
    right: 278px;
    top: 48px;
    margin-left: 22px;
}
.phone-box{
    width: 100%;
    height: 780px;
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;

}
.phone-box img{
    display: block;
    width: 595px;
    height: 380px;
}
.phone-box .phone{
    width: 293px;
    height: 380px;
    text-align: center;
    background-color: white;
   /* overflow: hidden;*/
}
.phone img{
    display: block;
    width: 172px;
    height: 172px;
    margin: 43px 63px 0 63px;
}
 .phone .big{
    width: 100%;
     height: 54px;
    line-height: 44px;

    padding-top: 19px;
     font-size: 17px;
}
.phone .small{
    width: 100%;
    height: 59px;
    line-height: 24px;
    padding: 6px 0 29px 0;
    font-size: 12px;
}
 .phone .money{
    width: 100%;
    height: 28px;
     line-height: 20px;
     font-size: 15px;
     color: red;
}
.bottom{
    width: 100%;
    background-color: white;
}
.bottom-box {
    width: 1200px;
    margin: 0 auto;
}
.bottom-box .first{
    width: 100%;
    height: 189px;
    padding-top: 30px;
    padding-bottom: 70px;
}
.bottom-box .first .first-box{
    width: 100%;
    height: 89px;

    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #dedede;
    display: flex;
    justify-content: space-around;
}
.bottom-box .first a{
    color: #333;
    font-size: 18px;
}
.bottom-box .second{
    width: 100%;
    height: 260px;
    position: relative;
}
.bottom-box .second ul:nth-child(1){
    width: 80%;
    height: 172px;
    display: flex;
    justify-content: space-between;
    margin-left: -40px;
}

.bottom-box .second ul:nth-child(2){
    height: 172px;
    position: absolute;
right: 0;
    top: 0;
    text-align: right;
}

.bottom-box .second li{
    display: block;
    list-style: none;
}
.bottom-box .second a{
    display: block;
    width: 157px;
    font-weight: 400;
    line-height: 23px;
    font-size: 12px;
    color: #333333;
}
.bottom-box .second ul:nth-child(1) li a:nth-child(1){
   font-weight: 600;
}
.bottom-box .second li a:nth-child(2){
    display: block;
    height: 38px;
    padding-top: 15px;
}
.bottom-box .second .winter{
    line-height: 24px;
    font-size: 24px;
    color: #008ddc;
    font-weight: 400;
    text-align: right;
}
.bottom-box .second ul:nth-child(2) li a:nth-child(2){
    display: block;
    height: 50px;
    line-height: 24px;
    width: 172px;
    font-size: 24px;
    font-weight: 400;
    padding-top: 20px;
    padding-bottom: 6px;
    color: #333333;
}
.bottom-box .second ul:nth-child(2) li a{
    display: block;
    width: 172px;
    margin-right: 0;
}
.bottom-box .second ul:nth-child(2) li a:nth-child(3){
    color: #aaa;
    font-size: 12px;
}
.bottom-box .third{
    width: 100%;
    padding-top: 35px;
    font-size: 12px;
    position: relative;
    color: #333333;
}

.bottom-box .third .right{
    width: 180px;
    position: absolute;
    right: 0;
    top: 35px;
}
.bottom-box .third a{
    font-size: 10px;
    color: #333333;
}
.bottom-box .third .right a{
    float: right;
    width: 90px;
    line-height: 16px;
    font-size: 12px;
    text-align: right;
    color: #666666;
}